@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-epilogue;
  }

  p {
    @apply font-inter;
  }
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

#hero {
  --half-image: calc(68rem * 9 / 16 / 2);
  margin-bottom: var(--half-image);
}

.nav-item .menu {
  display: none;
}
.nav-item:hover .menu {
  display: block;
}

.nav-item-product {
  position: relative;
}
.nav-item-product::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  top: 50%;
}

button.selected {
  background-color: #e3e8f4;
  color: #000c2a;
}

#nav-dot-container span.active {
  width: auto;
  flex-grow: 1;
  background-color: #1433d6;
}
#logo-btn-container .selected {
  background-color: #1433d6;
  color: white;
}
